<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkmHZeEbugD20G8O7k6yL9RfUUhSJPR44</string>
	<key>GCM_SENDER_ID</key>
	<string>429436273174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VatsalPandya.Connex</string>
	<key>PROJECT_ID</key>
	<string>connex-ac862</string>
	<key>STORAGE_BUCKET</key>
	<string>connex-ac862.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429436273174:ios:5bdb76e57e76b6c11c6b37</string>
</dict>
</plist>